<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <script src="/socket.io/socket.io.js"></script>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <script>
    var user = io();
    user.emit('myowntest',{"name":"riddhi","long":"564.56345653"});
  </script>
</body>
</html>